body {
    margin: 0;
    background-color: rgb(206, 199, 199);
}

header {
    background-color: hsl(143, 100%, 50%);
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.icon {
    margin: auto;
    margin-right: 20px;
}

svg {
    margin: 5px;
}

.titre {
    font-weight: bold;
    margin: 5px;
}

.text {
    margin: 5px;
    display: flex;
}

a {
    margin: 5px;
    text-decoration: none;
    color: black;
}

hr {
    margin: 0;
}

img {
    max-width: 100%;
}

.gregre {
    width: 450px;
}

main {
    display: flex;
    padding: 100px;
    justify-content: center;
}

.nouille {
    margin-right: 40px;
}

ul {
    margin-top: 0;
}

.detail {
    font-weight: bold;
}

.fond {
    background-color: white;
    padding: 5px;
}
.argent{
    display: flex;
}
.timeo{
    margin-right: auto;
}
.suuu{
    margin: 10px;
    color: red;
}